{
    admin off # we dont use this so lol
    debug
}


:9455 {
    header {
        -Server

        Cache-Control "max-age=604800, immutable"
    }

    handle_path /astra-distrib/* {
        root * /astra-distrib
    }

    handle_path /distrib/* {
        root * /astra-distrib
    }

    encode gzip

    file_server
}

