{{ define "main" }}

<h2>Software</h2>

<div class="buttons">
<a href='/software/astra' class="blurb-button">
<img width="40" height="40" src="astra.svg"/>
<h4>Astra</h4>
<span>Unofficial FFXIV launcher</span>
</a>

<a href='/software/novus' class="blurb-button">
<img width="40" height="40" src="novus.svg"/>
<h4>Novus</h4>
<span>Unofficial FFXIV tools</span>
</a>

<a href='/software/auracite' class="blurb-button">
<img width="40" height="40" src="unknown.png"/>
<h4>Auracite</h4>
<span>Export your FFXIV character in portable, generic formats</span>
</a>

<a href='/software/kawari' class="blurb-button">
<img width="40" height="40" src="unknown.png"/>
<h4>Kawari</h4>
<span>Substitute for some official FFXIV servers</span>
</a>

<a href='/software/dalamudrepotool' class="blurb-button">
<img width="40" height="40" src="unknown.png"/>
<h4>DalamudRepoTool</h4>
<span>Turn Dalamud repository state into consumable JSON </span>
</a>
</div>

<h2>Mods</h2>

<div class="buttons">
<a href='/mods/rebound' class="blurb-button">
<img width="40" height="40" src="physics-fix.png"/>
<h4>Rebound</h4>
<span>Restore FFXIV's bone physics at higher framerates</span>
</a>

<a href='/mods/refitter' class="blurb-button">
<img width="40" height="40" src="refit.png"/>
<h4>Refitter</h4>
<span> Modify chest bones for specific gear </span>
</a>

<a href='/mods/hooky' class="blurb-button">
<img width="40" height="40" src="unknown.png"/>
<h4>Hooky</h4>
<span>Sends messages to a specified webhook endpoint</span>
</a>

<a href='/mods/narc' class="blurb-button">
<img width="40" height="40" src="unknown.png"/>
<h4>Neo Armor Refit Collection</h4>
<span>Even better fitting female armors!</span>
</a>

<a href='/mods/varc' class="blurb-button">
<img width="40" height="40" src="unknown.png"/>
<h4>Vanilla Armor Refit Collection (Obsolete)</h4>
<span>Better fitting female armors</span>
</a>
</div>

<h2>Sites</h2>

<div class="buttons">
<a href='https://docs.xiv.zone' class="blurb-button">
<img width="40" height="40" src="sprout.png"/>
<h4>XIV Docs</h4>
<span>Garden of knowledge on FFXIV</span>
</a>
</div>

<h2>Libraries</h2>

<div class="buttons">
<a href='/libraries/physis' class="blurb-button">
<img width="40" height="40" src="unknown.png"/>
<h4>Physis</h4>
<span>Library for reading and writing FFXIV data</span>
</a>
</div>

{{ end }}
