{{ define "main" }}

<h2>Sites</h2>

<div class="buttons">
<a href='https://docs.xiv.zone' class="blurb-button">
<h4>XIV Docs</h4>
Garden of knowledge on FFXIV
</a>
</div>

<h2>Software</h2>

<div class="buttons">

<a href='/astra' class="blurb-button">
<img style="float:left; padding-right: 10px" width="40" height="40" src="astra.svg"/>
<h4>Astra</h4>
Unofficial FFXIV launcher
</a>

<a href='/novus' class="blurb-button">
<img style="float:left; padding-right: 10px" width="40" height="40" src="novus.svg"/>
<h4>Novus</h4>
Unofficial FFXIV modding tools
</a>

<a href='/physis' class="blurb-button">
<h4>Physis</h4>
Framework for interacting with FFXIV game data
</a>

<a href='/kawari' class="blurb-button">
<h4>Kawari</h4>
Substitute for some official FFXIV servers
</a>
</div>

<h2>Mods</h2>

<div class="buttons">
<a href='/varc' class="blurb-button">
<h4>Vanilla Armor Refit Collection</h4>
Better fitting female armors
</a>

<a href='/sqpack-indexer' class="blurb-button">
<h4>SqPack Indexer</h4>
Indexing the resources used by the game
</a>

<a href='/physics-fix' class="blurb-button">
<h4>Physics Fix</h4>
Fix FFXIV's bone physics at higher framerates
</a>
</div>

<a href="/copyright">Copyright Notice</a>

{{ end }}
