{{ define "main" }}

Hello and welcome to xiv.zone, I host a couple of my FFXIV-related projects here:

<div class="buttons">

<a href='/astra' class="blurb-button">
<h4>Astra</h4>
Linux FFXIV launcher
</a>

<a href='/novus' class="blurb-button">
<h4>Novus</h4>
Cross-platform modding tools
</a>

<a href='/physis' class="blurb-button">
<h4>Physis</h4>
Custom modding framework
</a>

<a href='https://docs.xiv.zone' class="blurb-button">
<h4>docs.xiv.zone</h4>
Documentation of FFXIV's inner workings.
</a>

<a href='/varc' class="blurb-button">
<h4>Vanilla Armor Refit Collection</h4>
Better fitting female armors
</a>

</div>

<a href="/copyright">Copyright Notice</a>

{{ end }}
